.overlay {
  background: rgba(0, 0, 0, 0.9); /* Más oscuro para ocultar el fondo */
  backdrop-filter: blur(15px);
}

.modal {
  background: #000;
  border-right: 2px solid #ff3c3c;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 90% 100%, 0 100%);
}

.warningHeader {
  color: #ff3c3c;
  font-family: 'Aldrich', sans-serif;
  animation: pulse-red 1s infinite alternate;
}

@keyframes pulse-red {
  from { text-shadow: 0 0 2px #ff3c3c; }
  to { text-shadow: 0 0 10px #ff3c3c, 0 0 20px #ff3c3c; }
}

.btnConfirm {
  background: #ff3c3c;
  transition: all 0.1s ease-in;
}

.btnConfirm:hover {
  background: #fff;
  transform: skewX(-5deg);
}

.btnCancel {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}

.overlay {
  background: #000000 !important; /* Opacidad total para ocultar el fondo */
  z-index: 9999;
}