.metroContainer {
  background-color: #0a0a0a;
  background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
}
.rustPanel {
  background: #151515;
  border: 2px solid #2a2a2a;
  box-shadow: 5px 5px 0px #000;
}
.handwritten {
  font-family: 'Courier New', Courier, monospace;
  color: #ffb300;
}