.somaContainer {
  background: #00080a;
  background-image: repeating-linear-gradient(0deg, transparent, transparent 1px, rgba(0, 242, 255, 0.03) 1px, rgba(0, 242, 255, 0.03) 2px);
}
.wauCircuit {
  border: 1px solid #00f2ff;
  box-shadow: inset 0 0 15px rgba(0, 242, 255, 0.1);
  border-radius: 50% 0 50% 0;
}