/* crt.css */
.crt-container::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

@keyframes flicker {
  0% { opacity: 0.27; }
  5% { opacity: 0.1; }
  10% { opacity: 0.2; }
  15% { opacity: 0.15; }
  25% { opacity: 0.1; }
  30% { opacity: 0.25; }
  100% { opacity: 0.15; }
}