/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --terminal-green: #33ff33;
}

/* Forzamos que incluso antes de cargar React, el fondo sea negro */
html, body {
  background-color: #020502 !important;
  color: var(--terminal-green);
  min-height: 100vh;
}

@layer utilities {
  .text-shadow-retro {
    text-shadow: 0 0 8px rgba(34, 197, 94, 0.8);
  }
}