/* BootHeader.module.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  background: #1a331a; /* Verde muy oscuro, casi negro */
  color: #33ff33;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
  border: 1px solid #33ff33;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}

/* El efecto de "pestaña" metálica */
.header::after {
  content: "SERVICE_IDENT: D6-8872";
  position: absolute;
  bottom: -15px;
  right: 20px;
  background: #33ff33;
  color: #000;
  padding: 0 5px;
  font-size: 8px;
  font-weight: bold;
}

.section {
  display: flex;
  gap: 15px;
  align-items: center;
}

.warning {
  color: #000;
  background: #ff9900; /* Ámbar Metro */
  padding: 0 4px;
  font-weight: bold;
  animation: flash 1s infinite steps(2);
}

@keyframes flash {
  0% { opacity: 1; }
  100% { opacity: 0.2; }
}

.bracketText {
  color: rgba(51, 255, 51, 0.5);
}